<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- 解决工程编码过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>	
	
	  <!-- 加载Spring容器配置 -->
		<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	
	<!-- 设置Spring容器加载配置文件路径，主要是spring的配置文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:modules/spring.xml</param-value>
	</context-param>
	
	
	<!-- 配置Spring核心控制器 -->
	<servlet>
	<servlet-name>GGJ_Bug</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	         <init-param>
			<param-name>contextConfigLocation</param-name>
			<!--初始化控制器和国际化的xml-->
			 <!-- classpath*: 指定编译后的class目录 在ide中 与src根目录相同 --> 
			<param-value>classpath*:modules/controller-servlet.xml;classpath*:modules/controller-i18n.xml</param-value>
		</init-param>
		<!-- 项目启动时加载 -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>GGJ_Bug</servlet-name>
	<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	
	
	
	
<!--如果没有的登陆成功，默认跳转的页面-->
  <welcome-file-list>
    <welcome-file>/WEB-INF/jsp/foreground/login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
